extends layout

block content
    script.
        var appId = "#{fbAppId}";
        if (!appId) {
            appId = '1577458905824228';
        } 

        window.fbAsyncInit = function() {
            FB.init({
                appId       : appId,
                xfbml       : true,
                version     : 'v2.1'
            });
        };
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    div.container
        img(src="/images/sp-horiz-logo.png" alt="Social Player")

        p.centre-align Social Player takes your Facebook likes and searches for any matching available programmes on BBC iPlayer to watch online, now.

        div#login.centre-align
            button#login-button Find programmes

        div.loading
            div#loading-message Retrieving your likes from Facebook
            img(src="images/loading.gif")

        div.programme-master
            div.programme
                div.programme-image
                div.programme-metadata
                    h3.programme-title
                    h4.programme-episode
                    p.programme-description
                    p.programme-availability

        div#programme-container


    script(src="https://code.jquery.com/jquery-2.1.3.min.js")
    script(src="/javascripts/global.js")

    script.
        $(document).ready(function() {
            $('#login-button').on('click', facebookLogin);
            $('#likesButton').on('click', listLikes);
            $('#tvButton').on('click', {category : 'Tv show'}, searchCategories);
        });