body {
  padding: 50px 50px 0 50px;
  font: 14px 'Lato', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}

h3, h4, p {
	margin: 8px 0px 8px 0px;
}

a {
	text-decoration: none;
	color: black;
}

.centre-align {
	text-align: center;
}

#login-button {
	background-color: #3B5999;
	background-image:url('../images/FB-f-Logo__blue_50.png');
	background-repeat: no-repeat;
	background-position: 4px 4px;
	border: 1px solid #052569;
	border-radius: 5px;
	height: 60px;
	width: 350px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: white;
}

.container {
  	width: 600px;
  	margin: 0 auto;
}

.loading {
	text-align: center;
	padding: 8px;
	display: none;
}

#loading-message {
	padding: 8px;
}

.programme-master {
	display:none;
}

.programme {
	background-color: #F5A9A9;
	min-height: 140px;
	margin-bottom: 8px;
	overflow: auto;
	width: 100%;
}

.programme:hover {
	background-color:#8A4988;
}

.programme__image {
	width: 174px;
	min-height: 108px;
	float: left;
  display: inline;
}

.programme__image img{
	margin: 12px;
}

.programme__metadata {
	min-height: 108px;
	overflow: hidden;
	padding-right: 12px;
  width: 272px;
  display: inline;
  float: left;
}

.programme__description {
  font-size: 16px;
}

.programme__availability {
  font-size: 18px;
  display: inline;
  width: 180px;
  padding: 8px;
}
